[submodule "LIO-SAM"]
	path = src/LIO-SAM
	url = https://github.com/phithanhdanh/LIO-SAM
[submodule "src/nmea_navsat_driver"]
	path = src/nmea_navsat_driver
	url = https://github.com/ros-drivers/nmea_navsat_driver
