<launch>
    <!-- <arg name="rtk_en" default="false" /> -->
    
    <!-- <rosparam file="$(find lidar_odometry)/config/params.yaml" command="load" /> -->

    <!-- XSENS IMU/GNSS -->
    <group ns="xsens">
        <node  name="xsens_mti_node" pkg="xsens_mti_driver" type="xsens_mti_node" output="screen">
            <rosparam command="load" file="$(find lidar_odometry)/config/xsens.yaml" />
        </node>
    </group>

    <!-- Velodyne VLP-16-->
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>

    <!-- RTK Rover-->
    <group ns="rtk">
        <node name="nmea_serial_driver_node" pkg="nmea_navsat_driver" type="nmea_serial_driver" output="screen">
            <rosparam command="load" file="$(find lidar_odometry)/config/rtk.yaml" />
        </node>
    </group>

</launch>